[DEFAULT]

verbose=True
# debug=True

[jobpublisher]
# auth_key = set_your_key_here

# queue_push_uri = tcp://127.0.0.1:4001
# http_port = 4000

[jobworker]

# jobs = openstack_create_instance:/home/jobrunner/jobs/openstack_create_instance.sh,delete_instance:/home/jobrunner/jobs/openstack_delete_instance.sh
# queue_pull_uri = tcp://127.0.0.1:4002

[jobqueue]

# Corresponding to jobpublisher.queue_push_uri
# queue_pull_uri = tcp://127.0.0.1:4001

# Corresponding to jobworker.queue_pull_uri
# queue_push_uri = tcp://*:4002

